.searchButton {
  width: 45px;
  height: 45px;
  padding: 1px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fece51;

  img {
    width: 80%;
    height: 80%;
    padding: 5px;
  }
}
.inputSearch {
  width: 450px;
  padding-right: 20px;
}
