.popupContainer {
  display: flex;
  gap: 20px;

  .pinImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
